body {
    .font-size-xs {
        .text-xs {
            font-size: 0.75rem !important;
        }

        .text-sm {
            font-size: 0.875rem !important;
        }

        .text-base {
            font-size: 1rem !important;
        }

        .text-lg {
            font-size: 1.125rem !important;
        }

        .text-xl {
            font-size: 1.25rem !important;
        }

        .text-2xl {
            font-size: 1.5rem !important;
        }

        .text-3xl {
            font-size: 1.875rem !important;
        }
    }

    .font-size-sm {
        .text-xs {
            font-size: 0.75rem !important;
        }

        .text-sm {
            font-size: 0.875rem !important;
        }

        .text-base {
            font-size: 1rem !important;
        }

        .text-lg {
            font-size: 1.125rem !important;
        }

        .text-xl {
            font-size: 1.25rem !important;
        }

        .text-2xl {
            font-size: 1.5rem !important;
        }

        .text-3xl {
            font-size: 1.875rem !important;
        }
    }

    .font-size-md {
        .text-xs {
            font-size: 0.75rem !important;
        }

        .text-sm {
            font-size: 0.875rem !important;
        }

        .text-base {
            font-size: 1rem !important;
        }

        .text-lg {
            font-size: 1.125rem !important;
        }

        .text-xl {
            font-size: 1.25rem !important;
        }

        .text-2xl {
            font-size: 1.5rem !important;
        }

        .text-3xl {
            font-size: 1.875rem !important;
        }
    }

    .font-size-lg {
        .text-xs {
            font-size: 0.75rem !important;
        }

        .text-sm {
            font-size: 0.875rem !important;
        }

        .text-base {
            font-size: 1rem !important;
        }

        .text-lg {
            font-size: 1.125rem !important;
        }

        .text-xl {
            font-size: 1.25rem !important;
        }

        .text-2xl {
            font-size: 1.5rem !important;
        }

        .text-3xl {
            font-size: 1.875rem !important;
        }
    }

    .font-size-xl {
        .text-xs {
            font-size: 0.75rem !important;
        }

        .text-sm {
            font-size: 0.875rem !important;
        }

        .text-base {
            font-size: 1rem !important;
        }

        .text-lg {
            font-size: 1.125rem !important;
        }

        .text-xl {
            font-size: 1.25rem !important;
        }

        .text-2xl {
            font-size: 1.5rem !important;
        }

        .text-3xl {
            font-size: 1.875rem !important;
        }
    }
}
